USE [WMS_888Test]
GO
/****** Object:  StoredProcedure [dbo].[sp_CtasFacturas_Filtradas]    Script Date: 25/09/2025 10:36:21 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_CtasFacturas_Filtradas]
    @RfcProveedor NVARCHAR(50) = NULL,
    @Timbrada BIT = NULL,
    @FechaInicio BIGINT = NULL,
    @FechaFin BIGINT = NULL,
    @EstadoDocumentacion BIT = NULL,  -- 1 = Completado, 0 = No Completado
    @PageNumber INT = 1,
    @PageSize INT = 100
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Filtrar y guardar en tabla temporal
    SELECT
        f.ID,
        f.UUID,
        f.TipoComprobante,
        f.Serie,
		f.SerieInterna,
        f.Folio,
		f.FolioInterno,
        f.RFC_Emisor,
        f.Nombre_Emisor,
        f.RFC_Receptor,
        f.Nombre_Receptor,
        f.SubTotal,
        f.Descuento,
        f.Total,
        f.MetodoPago,
        f.Descripcion,
        f.FechaCreacion,
        f.FechaCobroPago,
        f.FechaTimbrado,
        f.IVA_Trasladado,
        f.ISR_Trasladado,
        f.Timbrada,
        CASE
            WHEN COUNT(rf.RequisitoID) = (
                SELECT COUNT(*) FROM RequisitosOrdenFactura
            ) AND MIN(CAST(rf.Estatus AS INT)) = 1
            THEN 'Completado'
            ELSE 'No Completado'
        END AS EstadoDocumentacion
    INTO #FacturasFiltradas
    FROM CtasFacturas f
    LEFT JOIN FacturaRequisitos rf ON rf.FacturaOrdenID = f.ID
    WHERE f.Emitida = 0 AND f.TipoComprobante = 'I'
        AND (@RfcProveedor IS NULL OR f.RFC_Emisor LIKE '%' + @RfcProveedor + '%')
        AND (@Timbrada IS NULL OR f.Timbrada = @Timbrada)
        AND (@FechaInicio IS NULL OR f.FechaCreacion >= @FechaInicio)
        AND (@FechaFin IS NULL OR f.FechaCreacion <= @FechaFin)
    GROUP BY
		f.ID, f.UUID, f.TipoComprobante, f.Serie, f.SerieInterna, f.Folio,
		f.FolioInterno, f.RFC_Emisor, f.Nombre_Emisor, f.RFC_Receptor, f.Nombre_Receptor,
		f.SubTotal, f.Descuento, f.Total, f.MetodoPago, f.Descripcion,
		f.FechaCreacion, f.FechaCobroPago, f.FechaTimbrado,
		f.IVA_Trasladado, f.ISR_Trasladado, f.Timbrada

    -- 2. Resultado paginado
    SELECT *
    FROM #FacturasFiltradas
    WHERE (@EstadoDocumentacion IS NULL OR
           (@EstadoDocumentacion = 1 AND EstadoDocumentacion = 'Completado') OR
           (@EstadoDocumentacion = 0 AND EstadoDocumentacion = 'No Completado'))
    ORDER BY FechaCreacion DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;

    -- 3. Total de registros
    SELECT COUNT(*) AS TotalRegistros
    FROM #FacturasFiltradas
    WHERE (@EstadoDocumentacion IS NULL OR
           (@EstadoDocumentacion = 1 AND EstadoDocumentacion = 'Completado') OR
           (@EstadoDocumentacion = 0 AND EstadoDocumentacion = 'No Completado'));

    -- 4. Limpieza
    DROP TABLE #FacturasFiltradas;
END
