
GO
/****** Object:  StoredProcedure [dbo].[sp_SubirConceptos]    Script Date: 14/07/2025 10:36:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SubirConceptos]
    @Conceptos CtasConceptosDTO READONLY
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.CtasConceptos (
        ID, 
        FacturaID, 
        ClaveProductoServicio, 
        ClaveUnidad, 
        Cantidad,
        Descripcion, 
        ValorUnitario, 
        Importe, 
        ImporteFinal, 
        IVA_Retenido, 
        IVA_Trasladado, 
        ISR_Retenido, 
        ISR_Trasladado,
        IEPS_Retenido,
        IEPS_Trasladado
    )
    SELECT
        c.ID, 
        c.FacturaID, 
        c.ClaveProductoServicio, 
        c.ClaveUnidad,
        c.Cantidad, 
        c.Descripcion, 
        c.ValorUnitario, 
        c.Importe,
        c.ImporteFinal, 
        c.IVA_Retenido, 
        c.IVA_Trasladado,
        c.ISR_Retenido,
        c.ISR_Trasladado,
        c.IEPS_Retenido,
        c.IEPS_Trasladado
    FROM @Conceptos c;
END;

