
GO
/****** Object:  StoredProcedure [dbo].[sp_SubirPagosYRelacionados]    Script Date: 14/07/2025 10:37:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_SubirPagosYRelacionados]
    @Pagos CtasPagosFacturaDTO READONLY,
    @Relacionados CtasDocsRelacionadosDTO READONLY
AS
BEGIN
    SET NOCOUNT ON;

    -- Insertar pagos
    INSERT INTO dbo.CtasPagosFactura (
        ID, 
        FacturaPagoID, 
        FormaPago,
        NoPago, 
        NumOperacion, 
        MontoTotal, 
        IVA_Retenido,
        IVA_Trasladado,
        ISR_Retenido, 
        ISR_Trasladado,
        IEPS_Retenido,
        IEPS_Trasladado
    )
    SELECT
        p.ID, 
        p.FacturaPagoID, 
        p.FormaPago, 
        p.NoPago, 
        p.NumOperacion, 
        p.MontoTotal, 
        p.IVA_Retenido,
        p.IVA_Trasladado,
        p.ISR_Retenido, 
        p.ISR_Trasladado,
        p.IEPS_Retenido,
        p.IEPS_Trasladado
    FROM @Pagos p
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.CtasPagosFactura cp WHERE cp.ID = p.ID
    );

    -- Insertar documentos relacionados
    INSERT INTO dbo.CtasDocsRelacionados (
		ID,
        PagoID, 
		FacturaPPD_UUID,
        FacturaPPD_ID, 
		FormaPago,
        NumParcialidad, 
        ImpSaldoInsoluto,
        ImpSaldoAnt,
        ImpPagado,
        IVA_Retenido,
        IVA_Trasladado,
        ISR_Retenido,
        ISR_Trasladado,
        IEPS_Retenido,
        IEPS_Trasladado,
        Contemplado
    )
    SELECT
		r.ID,
        r.PagoID, 
        r.FacturaPPD_ID, 
		'',
		r.FormaPago,
        r.NumParcialidad, 
        r.ImpSaldoInsoluto,
        r.ImpSaldoAnt,
        r.ImpPagado,
        r.IVA_Retenido,
        r.IVA_Trasladado,
        r.ISR_Retenido,
        r.ISR_Trasladado,
        r.IEPS_Retenido,
        r.IEPS_Trasladado,
        0
    FROM @Relacionados r
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.CtasDocsRelacionados cr
        WHERE cr.PagoID = r.PagoID AND cr.FacturaPPD_ID = r.FacturaPPD_ID
    );
END;

