
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarMontosYRelacionados]    Script Date: 14/07/2025 10:36:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ActualizarMontosYRelacionados]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TotalPagado DECIMAL(18,2);

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Tabla temporal con suma por factura
        CREATE TABLE #SumaPorFactura (
            FacturaPPD_UUID UNIQUEIDENTIFIER,
            TotalPagado DECIMAL(18,2)
        );

        INSERT INTO #SumaPorFactura (FacturaPPD_UUID, TotalPagado)
        SELECT r.FacturaPPD_UUID,
               SUM(r.ImpPagado)
        FROM dbo.CtasDocsRelacionados r
        WHERE r.Contemplado = 0
        GROUP BY r.FacturaPPD_UUID;

        -- Actualizar monto pendiente una sola vez por factura
        UPDATE cf
        SET cf.MontoPendiente = cf.MontoPendiente - sf.TotalPagado
        FROM dbo.CtasFacturas cf
        INNER JOIN #SumaPorFactura sf
            ON cf.UUID = sf.FacturaPPD_UUID;

        SET @TotalPagado = (SELECT SUM(TotalPagado) FROM #SumaPorFactura);

        -- Marcar los relacionados contemplados
        UPDATE r
        SET Contemplado = 1
        FROM dbo.CtasDocsRelacionados r
        INNER JOIN #SumaPorFactura sf
            ON r.FacturaPPD_UUID = sf.FacturaPPD_UUID
        WHERE r.Contemplado = 0;

        DROP TABLE #SumaPorFactura;

        COMMIT TRANSACTION;

        PRINT 'Total aplicado en actualizaciones: ' + CAST(@TotalPagado AS VARCHAR(20));
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

