
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcesarFacturasCompleto]    Script Date: 14/07/2025 10:36:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ProcesarFacturasCompleto]
    @Facturas CtasFacturasDTO READONLY,
    @Conceptos CtasConceptosDTO READONLY,
    @Pagos CtasPagosFacturaDTO READONLY,
    @Relacionados CtasDocsRelacionadosDTO READONLY
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Tabla temporal para facturas insertadas
        DECLARE @Insertadas TABLE (ID UNIQUEIDENTIFIER, TipoComprobante NVARCHAR(1));

        -- Insertar facturas nuevas
        INSERT INTO dbo.CtasFacturas (
            ID,
            Version,
            Emitida,
            UUID,
            Folio,
            Serie,
            RFC_Emisor,
            Nombre_Emisor,
            RegimenEmisor,
            RFC_Receptor,
            Nombre_Receptor,
            RegimenReceptor,
            CP_Expedicion,
            TipoComprobante,
            FormaPago,
            MetodoPago,
            SubTotal,
            Descuento,
            Total,
            subtotal_MXN,
            descuento_MXN,
            total_MXN,
            MontoPendiente,
            Condiciones,
            TipoCambio,
            Moneda,
            UsoCFDI,
            IVA_Retenido,
            IVA_Trasladado,
            ISR_Retenido,
            ISR_Trasladado,
            IEPS_Retenido,
            IEPS_Trasladado,
            FechaCobroPago,
            FechaCargado,
            FechaCreacion,
            FechaTimbrado,
            Expirada,
            Timbrada,
            Estatus
        )
        OUTPUT inserted.ID, inserted.TipoComprobante INTO @Insertadas(ID, TipoComprobante)
        SELECT
            f.ID,
            f.Version,
            f.Emitida,
            f.UUID,
            f.Folio,
            f.Serie,
            f.RFC_Emisor,
            f.Nombre_Emisor,
            f.RegimenEmisor,
            f.RFC_Receptor,
            f.Nombre_Receptor,
            f.RegimenReceptor,
            f.CP_Expedicion,
            f.TipoComprobante,
            f.FormaPago,
            f.MetodoPago,
            f.SubTotal,
            f.Descuento,
            f.Total,
            f.subtotal_MXN,
            f.descuento_MXN,
            f.total_MXN,
            f.MontoPendiente,
            f.Condiciones,
            f.TipoCambio,
            f.Moneda,
            f.UsoCFDI,
            f.IVA_Retenido,
            f.IVA_Trasladado,
            f.ISR_Retenido,
            f.ISR_Trasladado,
            f.IEPS_Retenido,
            f.IEPS_Trasladado,
            f.FechaCobroPago,
            f.FechaCargado,
            f.FechaCreacion,
            f.FechaTimbrado,
            f.Expirada,
            f.Timbrada,
            f.Estatus
        FROM @Facturas f
        WHERE NOT EXISTS (
            SELECT 1 FROM dbo.CtasFacturas cf WHERE cf.UUID = f.UUID
        );

        -- Insertar conceptos si se trata de CFDIs tipo Ingreso
        IF EXISTS (SELECT 1 FROM @Insertadas WHERE TipoComprobante = 'I')
        BEGIN
            DECLARE @ConceptosFiltrados CtasConceptosDTO;

            INSERT INTO @ConceptosFiltrados
            SELECT *
            FROM @Conceptos c
            WHERE EXISTS (SELECT 1 FROM @Insertadas i WHERE i.ID = c.FacturaID AND i.TipoComprobante = 'I');

            EXEC sp_SubirConceptos @ConceptosFiltrados;
        END

        -- Insertar pagos y documentos relacionados si es CFDI de tipo Pago
        IF EXISTS (SELECT 1 FROM @Insertadas WHERE TipoComprobante = 'P')
        BEGIN
            DECLARE @PagosFiltrados CtasPagosFacturaDTO;
            DECLARE @RelacionadosFiltrados CtasDocsRelacionadosDTO;

            INSERT INTO @PagosFiltrados
            SELECT *
            FROM @Pagos p
            WHERE EXISTS (SELECT 1 FROM @Insertadas i WHERE i.ID = p.FacturaPagoID AND i.TipoComprobante = 'P');

            INSERT INTO @RelacionadosFiltrados
            SELECT *
            FROM @Relacionados r
            WHERE EXISTS (SELECT 1 FROM @PagosFiltrados pf WHERE pf.ID = r.PagoID);

            EXEC sp_SubirPagosYRelacionados @PagosFiltrados, @RelacionadosFiltrados;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

